{% extends 'base.html' %} {% block content %}
<div class="row g-4">
  <h2 style="text-decoration: underline" class="mt-5">ویزه</h2>

  <form action="" method="post">
    <h2 class="text-danger text-center">{{ error }}</h2>
    {% csrf_token %}
    <!-- end of select-service  -->

    <section class="visa-form">
      <select class="form-select" name="visa_term">
        <option selected value="2">دو ماهه</option>
        <option value="3">سه ماهه</option>
        <option value="4">چهل و پنج روزه</option>
      </select>
      <div class="col-12 col-md-4">
        <label for="name" class="d-block">اسم :</label>
        <input
          class="col-12 col-md-9"
          type="text"
          name="customer_name"
          placeholder="میهن تکنالوژی"
          id="name"
        />
      </div>

      <div class="col-12 col-md-4">
        <label for="total">قیمت * :</label>
        <input
          class="col-12 col-md-9"
          type="number"
          name="price"
          id="total"
          placeholder="00000"
        />
      </div>

      <div class="col-12 col-md-4">
        <label for="numpasport">نمبر پاسپورت *</label>
        <input
          class="col-12 col-md-9"
          type="number"
          name="passport_number"
          id="numpasport"
          placeholder="568678"
          minlength="3"
          maxlength="10"
        />
      </div>

      <div class="col-12 col-md-4">
        <label for="privance">ولایت :</label>
        <input
          type="text"
          name="city"
          id="privance"
          placeholder="غزنی"
          class="col-12 col-md-9"
        />
      </div>

      <div class="col-12 col-md-4">
        <label for="polished">قیمت واقعی *</label>
        <input
          class="col-12 col-md-9"
          type="number"
          name="real_price"
          id="polished"
          placeholder="00000"
        />
      </div>

      <div class="col-12 col-md-4">
        <label for="phoneNumber">نمبرتماس:</label>
        <input
          class="col-12 col-md-9"
          type="tel"
          name="phone"
          id="phoneNumber"
          placeholder="(+93)785788463"
        />
      </div>

      <div class="col-12 col-md-4 border">
        <label for="sender">فرستاده شده</label>
        <select class="form-select col-9" name="functor">
          {% for functor in functors %}
          <option value="{{ functor }}">{{ functor }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-12 col-md-4">
        <label for="charge">مصارف* :</label>
        <input
          class="col-12 col-md-9"
          type="number"
          name="spended"
          id="charge"
          placeholder="200"
        />
      </div>

      <div class="col-12 col-md-4">
        <label for="date-refrance">تاریخ مراجعه *</label>
        <input
          class="col-12 col-md-9"
          type="datetime"
          name="do_date"
          id="date-refrance"
          placeholder="1402/6/1"
        />
      </div>
    </section>
    <textarea
      name="description"
      class="col-12 h-25 mt-5 p-3"
      placeholder="تفصیلات"
    ></textarea>
    <button class="btn bg-primary mt-2 px-5 text-white">ثبت</button>
  </form>
  <!-- end of from  -->

  <table class="table col-12 mt-5 table-hover d-none d-md-flex">
    <thead><h1 class="text-secondary">مجموعه عواید بخش ویزا <span class="badge badge-primary">{{ incomes }}</span></h1></thead>
    <div class="col-2"><a href="{% url 'agency:visa' done=1 %}" class="btn btn-warning">done</a></div>
    <div class="col-2"><a href="{% url 'agency:visa' %}" class="btn btn-secondary">not done</a></div>
    <tr>
      <th>actions</th>
      <th>شماره :</th>
      <th>اسم مشتری :</th>
      <th>اسم ولایت</th>
      <th>نوع ویزه</th>
      <th>فرستاده</th>
      <th>قیمت گرفته شده</th>
      <th>قیمت انجام شده</th>
      <th>مصارف</th>
      <th>نمبر پاسپورت</th>
      <th>نمبرتلفن</th>
      <th>عواید</th>
      <th>تاریخ مراجعه</th>
      <th>تفصیلات</th>
    </tr>
    {% for visa in visas %}
    <tr>
      <td>
        <a href="{% url 'agency:delete' obj="visa" pk=visa.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
        {% if not visa.done %}
          <a href="{% url 'agency:visa-done' pk=visa.pk %}" class="btn btn-success"><i class="bi bi-done"></i></a>
        {% endif %}
      </td>
      <td>{{ visa.pk }}</td>
      <td>{{ visa.customer_name }}</td>
      <td>{{ visa.city }}</td>
      {% if visa.visa_term == "2" %}
        <td>دو ماهه</td>
      {% elif visa.visa_term == "3" %}
        <td>سه ماهه</td>
      {% elif visa.visa_term == "4" %}
        <td>چهل و پنج روزه</td>
      {% endif %}
      <td>{{ visa.functor.name }}</td>
      <td>{{ visa.real_price }}</td>
      <td>{{ visa.price }}</td>
      <td>{{ visa.spended }}</td>
      <td>{{ visa.passport_number }}</td>
      <td>{{ visa.phone }}</td>
      <td>{{ visa.get_income }}</td>
      <td>{{ visa.do_date }}</td>
      <td>{{ visa.description }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
